/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/montserrat-v15-latin-regular.woff2') format('woff2')
}
  
/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('fonts/montserrat-v15-latin-500.woff2') format('woff2'), 

}
  
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('fonts/montserrat-v15-latin-600.woff2') format('woff2'), 
}
  
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/montserrat-v15-latin-700.woff') format('woff'), 
}

/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('fonts/raleway-v18-latin-600.woff2') format('woff2'), 
}
  
/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/raleway-v18-latin-700.woff2') format('woff2'), 
}

* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--grey-darkest);
    background-color: #fff;
    letter-spacing: 0;
}

h1 {
    font-size: 6.4rem;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    color: #F16822;
}
p {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}
strong {
    color: var(--primary);
    font-size: 6.4rem;
    opacity: 1;
    z-index: 3;
}
:root {
        --primary: #F16822;
        --grey-darkest: #333333;
        --grey-darker: #444444;
        --grey-dark:#707070;
        --grey-light: #CCCCCC;
        --grey-lighter: #EEEEEE;
        --grey-lightest: #F9F9F9;
        --grey: #777777;

}
/* Atomic CSS*/

.row {
    display: flex;
}
.grid {
    display: grid;
}
.column {
    flex-direction: column;
}
.full {
    width: 100%;
}
.jtcn {
    justify-content: center;
}
.algi {
    align-items: center;
}

/*Container, layout*/


.container {
    width: 100%;
    max-width: 116rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.features > .container {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
.container-narrow {
    width: 100%;
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* Components */


/*  Header */

.site .container {
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.menu {
    align-items: center;
    justify-content: center;
}
.menu-item-list {
    color: #333;
    text-transform: uppercase;
}
.menu-item {
   padding: 2rem;
}
.menu-item:hover {
    background-color: var(--primary);
    transition: .3s;
}

#home-menu {
    padding: 1.2rem;
    background-color: var(--primary);
    color: #fff;
}
.title-header {
    padding-left: 1.2rem;
}
.site-title {
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
}
.baseline {
    font-size: 1.4rem;
    line-height: 1.3;
}
/* Fin Header*/

/*  Début Hero*/

.hero .container{
    align-items: center;
    justify-content: center;
}
.hero {
    position: relative;
    justify-content: center;
    align-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    min-height: calc(100vh - 12.0rem);
    text-align: center;
    line-height: 1;
    background: url(ressources/compressed/slider1_resultat.jpg);
    background-size: cover;
    background-position: center;
}
.hero p {
    margin-top: 2rem;
    font-size: 3.2rem;
    line-height: 1;
}
.btn-left-arrow,
.btn-right-arrow {
    background-color: transparent;
    border: 0;
}

/* Début Main */

.features-content {
    text-align: center;
    align-items: center;
}
.features-content > h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 1.1;
}

.features-content > p{
    font-size: 2.4rem;
    line-height: 1.3;

}
.features-list-content > h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.3;
    margin-top:  2rem;
}
.features-list {
    grid-template-columns: repeat(4 , 1fr);
    padding-bottom: 3rem;
}
.features-list-content figure > span {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 10rem;
    background-color: var(--grey-lightest);
    border-radius: 50%;
    justify-content: center;
}
.features-list-content > img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.features-list-content {
    display: grid;
    grid-template-columns: repeat(3. 1 fr);
    justify-content: center; 
    justify-items: center;
    margin-top: 4rem;
}
.features-list-content  > p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Fin Main */

/* Section  */

.about {
    min-width: 100%;
    background: url(ressources/compressed/bokehback_resultat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.box-pres {
    color: #fff;
    justify-content: center;
    text-align: center;
    
}
.box-pres img {
    max-width: 100%;
    display: block;
}
.box-pres p {
    margin-top: 4rem;
}
.box-pres h2{   
    margin-top: 10rem;
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 1.1;
}
/* Section fin  */

/* Section article début  */

.blog-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: center;
}
.blog-title img {
    width: 100%;
    justify-items: center;
}
 article
 {
    background-color: #f9f9f9;
}
.box-posts {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.box-posts h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 1.1;
}
.box-posts p{
    padding-top: 3rem;

}
.blog-items {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0,.16);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    

}
.blog-items h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.2;

}   
.blog-items img {
    border: none;
}   
.blog-items p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* début section facts */
.stats-section {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.stats {
    padding-top: 15rem;
    padding-bottom: 15rem;
    text-align: center;
}
.stats ul li{
    margin-top: 3rem;
    position: relative;
    z-index: 20;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.stats h2 {
    font-size: 4.8rem;
    z-index: 12;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.stats-section:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(ressources/compressed/lauren-mancke-aOC7TSLb1o8-unsplash_resultat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    opacity: 0.2;   
}

.stats-list {
    grid-template-columns: repeat(6, 1fr);

}

/* Début section people */


.people {
    background-image: url(ressources/compressed/rect@2x_resultat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.people img {
    min-width: 20%;
    border-radius: 50%;
}
.people > .container {
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.people-content {
    margin-left: 3rem;
}

.people p {
    color: var(--grey-lighter);
}
.name {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2rem;
}

/*début footer*/

footer {
    background-color: var(--grey-darkest);
}
.grid-container {
    grid-template-columns: repeat(4 , 1fr);
    gap: 2rem;
    padding-top: 5rem;
}
.list-footer-items h4 , .tag-list h4 {
    color: var(--primary);
    font-size: 2.4rem;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    line-height: 2.4;
}
.list-footer-items li, .list-footer-items p {
    margin-top: 1rem;
    padding-bottom: .1em;
    font-size: 2rem;
    line-height: 1.6;
    color: var(--grey-light);
}
.list-footer-items a {
    display: flex;
}
.tag-item  a{
    font-size: 1.4rem;
    line-height: 2.1;
    background: #444444 0% 0% no-repeat;
    opacity: 1;
    padding: .5rem;
}
.tag-list a {
    color: var(--grey-light);
} 